<p style="font-size: 18px; color:blue;">one-way works!</p>
<div class="">
  <p style="font-size: 14px; color:rgb(224, 45, 45);">Interpolation {{name}}</p>
</div>
<div class="">
  <p style="font-size: 14px; color:rgb(230, 124, 221);">Property Binding</p>
  <input [value]="name">
</div>
<div class="">
  <p style="font-size: 14px; color:rgb(177, 236, 165);">Event Binding</p>
  <button style="padding: 10px; background-color: rgb(177, 236, 165); border-radius:5px;" (click)="callToAction()">Button
    Call Event</button>
</div>
